- @orders.each_with_index do | order, index|
  %tr
    %td
      = index + 1
    %td
      = order[:order].client_name

    %td
      = order[:order].id

    %td
      %Ul
        - order[:list].each do | list |
          %li= list[:category].title
          %ul
            -list[:items].each do |item|
              %li= "#{item.name} - #{item.price}"
    %td
      =order[:sum]
%tr
  %td{colspan: 4}
    %strong Total sum
  %td
    %strong= @total_sum
